{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block nav %}
<li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
<li><a href="/wallet" class="nav-link px-2 text-white">Портмоне</a></li>
<li><a href="/belts" class="nav-link px-2 text-white">Ремни ручной работы</a></li>
<li><a href="/tools" class="nav-link px-2 text-white">Инструменты для работы</a></li>
<li><a href="/contacts" class="nav-link px-2 text-secondary">Контакты</a></li>
{% endblock %}

{% block content %}
<h1 class="text-center">Проект разработчика GromH команды GromHReZite</h1>
<a href="https://t.me/gromhrezite_bot" style="color:#000000"><b>Наш Телеграмм бот</b></a>
{% endblock %}
