{% extends 'base.html' %}

{% block title %}
Изделия из натуральной кожи ручной работы
{% endblock %}

{% block nav %}
<li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href="/wallet" class="nav-link px-2 text-white">Портмоне</a></li>
<li><a href="/belts" class="nav-link px-2 text-white">Ремни ручной работы</a></li>
<li><a href="/tools" class="nav-link px-2 text-white">Инструменты для работы</a></li>
<li><a href="/contacts" class="nav-link px-2 text-white">Контакты</a></li>
{% endblock %}

{% block content %}
<h1 class="text-center">Изделия из натуральной кожи ручной работы</h1>
<p style="font-weight:700">
    Кожевенное производство — одна из отраслей лёгкой промышленности, заключающаяся в механической и
    физико-химической выделке кожи животных, преимущественно крупного рогатого скота, а также морских млекопитающих.
    К производству кожевенной промышленности относятся и предприятия, производящие искусственные мягкие и жёсткие кожи,
    искусственные меха.
</p>
<p style="font-weight:700">
    Продукция кожевенной промышленности используется в производстве обувной и других отраслей лёгкой промышленности.
    Ассортиментом продукции кожевенной промышленности являются твёрдые кожаные изделия — для подошв и др. части
    кожаной обуви, мягкие кожаные изделия — в основном хромовые, также шорно-седельные изделия, одежда,
    галантерейные изделия, технические кожи и тому подобное. Кожа также используется в различных областях,
    от производства обуви и одежды до переплёта книг и изготовления обивки мебели и кожаных обоев.
</p>
{% endblock %}