{% extends 'base.html' %}

{% block title %}
Инструменты которые пригодятся для создания данных изделий
{% endblock %}

{% block nav %}
<li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
<li><a href="/wallet" class="nav-link px-2 text-white">Портмоне</a></li>
<li><a href="/belts" class="nav-link px-2 text-white">Ремни ручной работы</a></li>
<li><a href="/tools" class="nav-link px-2 text-secondary">Инструменты для работы</a></li>
<li><a href="/contacts" class="nav-link px-2 text-white">Контакты</a></li>
{% endblock %}

{% block content %}
<h1 class="text-center">Инструменты использованные при изготовлении данных изделиях</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" xmlns="http://www.w3.org/2000/svg">
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/awl.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Шило</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/tokonole.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Токоноле</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/punchers.jpeg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Пробойники</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/knife.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Шорный нож</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/saddler.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Шорный пони(Шорник)</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/thread.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Нити</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/needles.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Иглы</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/slicker.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Сликер</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm" style="background-color:#edac28">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <image xlink:href="/static/image/compass.jpg" height="100%" width="100%">
            </svg>
            <div class="card-body">
                <p class="card-text text-center" style="font-weight:1000">Циркуль</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}