{% extends 'base.html' %}

{% block title %}
Кошельки
{% endblock %}

{% block nav %}
<li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
<li><a href="/wallet" class="nav-link px-2 text-secondary">Портмоне</a></li>
<li><a href="/belts" class="nav-link px-2 text-white">Ремни ручной работы</a></li>
<li><a href="/tools" class="nav-link px-2 text-white">Инструменты для работы</a></li>
<li><a href="/contacts" class="nav-link px-2 text-white">Контакты</a></li>
{% endblock %}

{% block content %}
<h1 class="text-center">Портмоне моей ручной работы</h1>
<img src="static/image/wallet1.jpg">
<img src="static/image/wallet2.jpg">
{% endblock %}